@use '../abstracts/mixins';

main {
	padding: 26px;
	max-width: 1440px;
	@include mixins.flex-dir-jus(column, center);

	@media (min-width: 1200px) {
		@include mixins.flex-dir-jus(column, space-evenly);
		margin: 0 auto;
	}

	.advertising {
		margin-bottom: 40px;
		max-width: 900x;
		text-align: center;

		@media (min-width: 1200px) {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
		}

		img {
			width: 100%;

			@media (min-width: 1200px) {
				width: 450px;
			}
		}

		h2 {
			margin-block: 28px;
		}

		p {
			max-width: 573px;
		}
	}

	.products {
		text-align: center;
		max-width: 900x;

		@media (min-width: 1200px) {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
		}

		p {
			margin-block: 27px;
			max-width: 573px;
		}

		&__images {
			@include mixins.flex-dir-jus(row, center);
			margin-top: 50px;
			flex-wrap: wrap;
			gap: 3rem;

			img {
				margin-inline: 25px;

				@media (min-width: 1200px) {
					margin-inline: 25px;
				}
			}
		}
	}
}
