@use '../abstracts/mixins';

main {
  padding: 26px;
  max-width: 1440px;
  @include mixins.flex-dir-jus(column, center);
  
  @media (min-width: 1200px) {
    @include mixins.flex-dir-jus(row, space-evenly);
    margin: 0 auto;
  }

  .advertising {
    margin-bottom: 40px;
    max-width: 450px;

    img {
      width: 100%;
    }

    h2 {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        margin-top: 100px;
      }
    }
  }

  .products {
    text-align: center;
    max-width: 700px;

    p {
      margin-block: 27px;
      max-width: 573px;
    }

    &__images {
      @include mixins.flex-dir-jus(row, center);
      margin-top: 50px;
      flex-wrap: wrap;
      gap: 3rem;

      img {
        margin-inline: 25px;

        @media (min-width: 1200px) {
          margin-inline: 25px;
        }
      }
    }

    h3 {
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
}