// Variáveis
    // Fontes   
    $fonte-principal: "Inter", sans-serif;

    // Cores
    $cor-de-fundo: #EAF2FD;
    $cor-de-fonte: #5E7078;
    $cor-de-titulo: #464646;
    $cor-de-destaque: #A0F601;