@use '../abstract/variables';

.descricao {
    &__titulo {
        color: variables.$cor-de-titulo;
        margin-bottom: 1rem;
    }

    &__texto {
        color: variables.$cor-de-fonte;
    }

    &__link {
        color: variables.$cor-de-fonte;
        text-decoration: underline;
    }
}